<!DOCTYPE html>
<html>
<head>
  <% include ../includes/header.ejs %>
</head>

<body>
  <% include ../includes/nav.ejs %>
<div class="jumbotron text-center">
  <div class="container">
    <h1><%= title %></h1>
          <% for (let item of data) { %>
              <article>
                  <p>Name: </p>
                  <img src="<%= item.imageUrl %>" alt="item">
                  <p>Price: </p>
                  <p>Description</p>
              </article>
          <% } %>
  </div>
</div>
<div class="container">
  
</div>


</body>
</html>
