<%- include('../includes/head.ejs') %>

<%- include('../includes/navigation.ejs') %>
    <section>
        <h2>Enter a Book</h2>
        <form action="/admin/create-product" method="POST">
            <label for="title">Title: </label>
            <input type="text" name="title">
            <label for="descript">Description: </label>
            <input type="text" name="descript">
            <label for="price">Price: $</label>
            <input type="text" name="price">
            <label for="imageUrl">Image URL: </label>
            <input type="text" name="imageUrl">
            <button type="submit">Add Product</button>
        </form>
    </section>

<%- include('../includes/end.ejs') %>